.services{
    padding:100px 8%;
    background:#f7f8fc;
}

.services-heading{
    text-align:center;
    margin-bottom:70px;
}

.services-heading span{
    color:#00c853;
    font-weight:700;
    letter-spacing:3px;
}

.services-heading h2{
    font-size:50px;
    color:#111;
    margin:15px 0;
}

.services-heading p{
    max-width:700px;
    margin:auto;
    color:#666;
    line-height:1.8;
}

.service-list{
    display:flex;
    flex-direction:column;
    gap:35px;
}

.service-box{

    display:grid;

    grid-template-columns:320px 1fr;

    background:white;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 15px 35px rgba(0,0,0,.06);

    transition:.4s;
}

.service-box:hover{

    transform:translateY(-8px);

    box-shadow:0 20px 45px rgba(0,200,83,.15);

}

.service-left{

    height:100%;

}

.service-left img{

    width:100%;

    height:100%;

    object-fit:cover;

}

.service-right{

    padding:35px;

}

.service-right h1{

    color:#00c853;

    font-size:65px;

    opacity:.15;

    margin-bottom:10px;

}

.service-right h3{

    font-size:28px;

    margin-bottom:15px;

    color:#111;

}

.service-right p{

    color:#666;

    line-height:1.8;

    margin-bottom:30px;

}

.bottom{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.bottom span{

    color:#00c853;

    font-size:18px;

    font-weight:700;

}

.bottom button{

    padding:12px 28px;

    border:none;

    border-radius:40px;

    background:#00c853;

    color:white;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.bottom button:hover{

    background:#111;

}

@media(max-width:900px){

.service-box{

grid-template-columns:1fr;

}

.service-left{

height:250px;

}

.services-heading h2{

font-size:38px;

}

}

@media(max-width:600px){

.services{

padding:80px 20px;

}

.service-right{

padding:25px;

}

.service-right h1{

font-size:50px;

}

.service-right h3{

font-size:24px;

}

.bottom{

flex-direction:column;

align-items:flex-start;

gap:15px;

}

}